---
title: Alvaro Naveda
---

<section>
  <div class="container text-center">
    <% link_to("https://github.com/naveda89/", target: "_blank", class: "btn btn-primary btn-lg") do %>
      <span class="">Github</span>
      <i class="fa fa-github"></i>
    <% end %>

    <% link_to("https://twitter.com/naveda/", target: "_blank", class: "btn btn-primary btn-lg") do %>
      <span class="">Twitter</span>
      <i class="fa fa-twitter"></i>
    <% end %>
  </div>
</section>
